{% extends './base.html' %}


{% block content %}

<!-- content 블럭 처리 -->
<div class="wrap-mindnote">
    <div class="mindnote">
        <ul>
            <li>
                <h2>Get used to happiness.</h2>
                <p>People are attracted to what is familiar. Develop positive emotional habits and get used to happiness.</p>
            </li>
            <li>
                <h2>Why write an emotional diary?</h2>
                <p>I can express my honest feelings. I can identify latent emotions that I didn't even know I had.<br>
                It gives me the opportunity to find and correct the irrational thoughts that are bothering me. I can think about whether my response to my feelings was appropriate.</p>
            </li>
            <li>
                <h2>How do I use it?</h2>
                <p>I am writing down a situation I experienced. Write down what you felt at that time. Write down the actions or physical changes you did at that time.<br>
                Write down your current thoughts and any plans that come to mind. It's not something to show to anyone. Write as honestly as possible.<br>
                Don't write down vague feelings, but write down specific and clear feelings.<br>
                In any situation other than ‘I felt bad’ [anxious, sad, resentful, depressed, embarrassed]<br>
                I felt like it. For that reason, I developed a [grateful, happy, loving, happy] heart.</p>
            </li>
            <li>
                <h2>Example: It takes courage to lay down the weapon called 'secret'.</h2>
                <p>Even though I said the same thing, no one listened to me. I felt so upset and resentful because I felt like I had been ignored.<br>
                I thought it was an unreasonable treatment, but I couldn't get angry. I thought that if I got angry, it would ultimately have bad consequences for me.<br>
                It's not the first time something like this has happened, but it seems like it happens every time. I was depressed. I stayed alone for a while.<br>
                Next time something like this happens again, I will have to express it so that the people present know that I am in a bad mood.<br>
                Isn’t this a necessary action to have a healthy relationship with each other?</p>
            </li>
        </ul>
    </div>
</div>
<!-- content 블럭 처리 -->
{% endblock content %}
