{% extends './base.html' %}

<h2>diary list page</h2>





<!-- content 블럭 처리 -->
{% block content %}
<div class="wrap-note">
    <div class="note">         
        <div class="note-list">
            <ul>
                {% for page in pages %}
                    <li>
                        <a href={% url "page-detail" page.id %}>
                            <div class="date">
                                <span>{{page.dt_created}}</span>
                            </div>
                            <h2>{{page.title}}</h2>
                            <div class="score">
                                <p>Feeling point</p>
                                <span>{{page.score}} point</span>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- content 블럭 처리 -->
{% endblock content %}